.navbar-container{
    background-color: #171717;
    width:100%;
    display: flex;
}

.navbar-title-container{
    width:50%
}

.navbar-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.navbar-actions{
    width:50%;
    align-items: center;
}

