.navbar-container{
    background-color: #171717;
    width:100%;
    display: flex;
}

.navbar-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.navbar-contents{
    
}